{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-center align-items-center" style="height:100vh; background:linear-gradient(-45deg, #4E75AE 35%, transparent 10%)">
		<div class="m-auto d-flex flex-column justify-content-center align-items-center">
			<p class="display-4">Bienvenue sur le</p>
			<p class="mb-5 display-1">Greta Planning</p>
			<table class="table rounded">
				<thead>
					<tr>
						<th class="text-center">Email</th>
						<th class="text-center">tel</th>
						<th class="text-center">Adresse</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>gretalognes@gamil.com</td>
						<td>012033224</td>
						<td>Lognes espace diderorio</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="card text-center m-auto shadow-lg p-5 ">
			<div class="card-body">
				<h5 class="card-title">Accédez à votre compte</h5>
				<form action="{{ path('app_login') }}" method="post">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3">
							You are logged in as
							{{ app.user.userIdentifier }},
							<a href="{{ path('app_logout') }}">Logout</a>
						</div>
					{% endif %}
					<!-- Email input -->
					<div class="form-outline mb-4">
						<input type="mail" value="{{ last_username }}" name="mail" id="inputEmail" class="form-control"/>
						<label class="form-label" for="form2Example1">Email</label>
					</div>

					<!-- Password input -->
					<div class="form-outline mb-4">
						<input type="password" name="password" id="inputPassword" class="form-control"/>
						<label class="form-label" for="form2Example2">Mot de passe</label>
					</div>

					<!-- 2 column grid layout for inline styling -->
					<div class="row mb-4">
						<div
							class="col d-flex justify-content-center">
							<!-- Checkbox -->
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="form2Example31" checked/>
								<label class="form-check-label" for="form2Example31">
									Se souvenir de moi
								</label>
							</div>
						</div>
					</div>
					<input
					type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					<!-- Submit button -->
					<button type="submit" class="btn btn-primary btn-block mb-4">Se connecter</button>
				</div>
			</form>
		</div>
	</div>
</div>{% endblock %}
