{% extends 'base.html.twig' %}

{% block title %}{{ cour.nomCours }}{% endblock %}

{% block body %}
    <h1>{{ cour.nomCours }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom_cours</th>
                <td>{{ cour.nomCours }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cours_index') }}">Retour à la liste</a>

    <a href="{{ path('app_cours_edit', {'id': cour.id}) }}">Modifier</a>

{% endblock %}
