{% extends 'base.html.twig' %}

{% block title %}{{ cour.nomCours }}{% endblock %}

{% block body %}
    <h1>{{ cour.nomCours }}</h1>

    {# Formulaire commentaire #}
    <div class="container">
        {{ form(form) }}
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Cours</th>
                <td>{{ cour.nomCours }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>
                {% for commentaire in cour.commentaires %}
                    <div>{{ commentaire.text }}</div>
                    <small> - {{ commentaire.createdAt|date("d/m/y") }}</small>
                    {# <a href="{{ path('app_cours_delete_comm', {'id': commentaire.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ commentaire.id) }}">Supprimer</a> #}
                    {{ include('cours/_delete_comm.html.twig') }}
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Documents</th>
                <td> 
                    {% for image in cour.images %}
                        <img src="{{ asset('/uploads/cours/' ~ image.name) }}" alt="Image" width = "700vh">            
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cours_index') }}">Retour à la liste</a>

{% endblock %}
